@model SaleStroy.Models.Tovar

@{
    ViewBag.Title = Model.TovarName;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TovarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TovarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Def)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Def)
        </dd>

    </dl>
</div>

@Html.ActionLink("Заказать", "Create", "Orders", new { TovarId = Model.Id }, null)

    <p>
        @Html.ActionLink("Вернуться к списку товаров", "Index")
    </p>
